!!! 5
html
  head
    title  Marboo for Mac 
    meta(charset='utf-8')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/media/css/base.css', type='text/css')
    link(href='/media/css/ruhoh.css', rel='stylesheet', media='screen')
    link(href='/media/css/style.css', rel='stylesheet', media='screen')
    link(href='/media/css/sunburst-custom.css', rel='stylesheet', media='screen')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body(style='background-color: transparent;')
    .navbar
      .navbar-inner(style='background: #F0F0D8; box-shadow: 0 0 0 0; border-bottom: 1px solid #E0E4CC;')
        a.brand(href='/') Marboo
        ul.nav
          li
            a(href='/guide/') User Guide
          li
            a(href='/gallery/') Gallery
        .nav.btn-group.pull-right
          a.btn.btn-small.dropdown-toggle(style='margin-top: 8px;', data-toggle='dropdown', href='#')
            | English
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/zh_CN/') 简体中文
        ul.nav.social.pull-right
          li
            a(href='http://amoblin.marboo.biz/') Blog
          li
            a.twitter-follow-button(href='http://weibo.com/amoblin', data-show-count='false', data-lang='en') amoblin@weibo
          li
            a.twitter-follow-button(href='https://twitter.com/amoblin', data-show-count='false', data-lang='en') amoblin@twitter
          li
            a.twitter-share-button(href='https://twitter.com/share', data-lang='en', data-url='http://marboo.biz', data-hashtags='Marboo', data-text='new markdown notes manager for the hack using OS X') Tweet
    .container(style='position: relative; top: 50px;')
      .content
        h1.splash-header The Notes Manager Ever You Want.
        div(align='center')
          | watch Marboo demo
          a(href='https://vimeo.com/58428246') @vimeo
          | or
          a(href='http://v.youku.com/v_show/id_XNTA4MzgyMzQ4.html') @优酷
        .row.splash.stripe
          .span6.splash-message
            .wrapper(style='padding: 20px;')
              p(style='margin-bottom: 20px;')
                strong Marboo
                | is the
                b best
                | personal knowledge manager with open platform.
              table.table-condensed(style='margin: 0; width: 100%;')
                tbody
                  tr
                    td
                      i.icon-ok-sign
                      strong Markdown
                    td
                      | for writing.(
                      a(href='guide/index.html.html#markdown') other language?
                      | )
                  tr
                    td
                      i.icon-ok-sign
                      strong Vim/Emacs
                    td for editing.
                  tr
                    td
                      i.icon-ok-sign
                      strong HTML
                    td for templating.
                  tr
                    td
                      i.icon-ok-sign
                      strong Shell Scripts
                    td for customizing how to generate.
                  tr
                    td
                      i.icon-ok-sign
                      strong Git
                    td for file management and sync.
                  tr
                    td
                      i.icon-ok-sign
                      strong Jekyll
                    td for bloging.
                  tr
                    td
                      i.icon-ok-sign
                      strong Make/Rake
                    td for automating.
                  tr
                    td
                      i.icon-ok-sign
                      strong Command-line
                    td
                      | for
                      em everything
                      | .
                  tr
                    td
                      i.icon-ok-sign
                      strong Full-Control
                    td
                      | Multiple
                      a(href='/guide/#id45') configurable
                      | options.
          .span6.splash-message
            #themeStep1
              a(href='gallery/')
              img(src='/media/images/marboo/marboo-main.png')
            .download
              a.download-button(href='http://markbook.googlecode.com/files/Marboo_v0.5.dmg')
                span.inner
                  h4 Download the latest
                  p#current-version-description v0.5 February 5th 2013
              p.requirements OS X 10.7+
    br
    br
    footer.footer(style='text-align: center; margin: 50px 0;')
      | @2013 amoblin. All rights reserved. Powered by
      a(href='http://marboo.biz') Marboo
      | and
      a(href='http://twitter.github.com/bootstrap/')  Twitter Bootstrap
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37860016-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
