doctype html
html
  head
    title  Marboo Gallery 
    meta(charset='utf-8')
    meta(name='date', content='2013-01-23 05:30:55')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/media/css/bootswatch.css', rel='stylesheet', media='screen')
  body(style='background-color: transparent;')
    script(src='/bootstrap/js/bootstrap.min.js')
    .container
      .span12
        h1#gallery Gallery
      // your code here
      .row
        .span4
          a(href='/media/images/marboo/0.6/marboo-main.png')
            img.glyph(src='/media/images/marboo/0.6/marboo-main.png')
          h3  Markdown 
          p  choose your favorite markup format and your favorite text editor 
        .span4
          a(href='/media/images/marboo/0.6/marboo-theme-colorful.png')
            img.glyph(src='/media/images/marboo/0.6/marboo-theme-colorful.png')
          h3  Theme 
          p  edit CSS to change theme. So what you can not do ? 
        .span4
          a(href='/media/images/marboo/0.6/marboo-poem.png')
            img.glyph(src='/media/images/marboo/0.6/marboo-poem.png')
          h3  Poet and Poem 
          p  Not only poem, extend it by create your own template. 
        .span4
          a(href='/media/images/marboo/0.6/marboo-progit.png')
            img.glyph(src='/media/images/marboo/0.6/marboo-progit.png')
          h3  Reading Books 
          p  Reading books under Creative Commons Copyright, such as 《Pro Git》.
        .span4
          a(href='/media/images/marboo/0.6/marboo-diary.png')
            img.glyph(src='/media/images/marboo/0.6/marboo-diary.png')
          h3  Diary 
          p  use Vim to encrypt notes for diary. 
        .span4
          a(href='/media/images/marboo/0.6/marboo-web-design.png')
            img.glyph(src='/media/images/marboo/0.6/marboo-web-design.png')
          h3  Web Design 
          p  Twitter Bootstrap inside Marboo by default. And you can code your web. 
        .span4
          a(href='/media/images/marboo/0.6/marboo-code-snippet.png')
            img.glyph(src='/media/images/marboo/0.6/marboo-code-snippet.png')
          h3  Code Snippet 
          p  Manage your code snippet, even reStructuredText format and HTML format. 
        .span4
          a(href='/media/images/marboo/0.6/marboo-slide.png')
            img.glyph(src='/media/images/marboo/0.6/marboo-slide.png')
          h3 Make Slides
          p Write Slides use markdown and remark.js
        .span4
          a(href='/media/images/marboo/0.6/marboo-evernote.png')
            img.glyph(src='/media/images/marboo/0.6/marboo-evernote.png')
          h3  Ever Evernote User 
          p  Just export from Evernote and import to Marboo. 
        //.span4
        //  a(href='/media/images/marboo/markbook-jekyll.png')
        //    img.glyph(src='/media/images/marboo/markbook-jekyll.png')
        //  h3  Blog 
        //  p
        //    | release to Jekyll/Octopress blogs or other static website such as
        //    a(href='http://www.farbox.com') farbox
        //    | .
        //.span4
        //  a(href='/media/images/marboo/marboo-automation.png')
        //    img.glyph(src='/media/images/marboo/marboo-automation.png')
        //  h3  Automation 
        //  p  Write Makefile or Rakefile. One Click, Everything done! 
        //.span4
        //  a(href='/media/images/marboo/marboo-gnuplot.png')
        //    img.glyph(src='/media/images/marboo/marboo-gnuplot.png')
        //  h3  Chart 
        //  p  Draw chart with Gnu Plot. 

    <!-- begin google analytics -->
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-37860016-1', 'github.com');
      ga('send', 'pageview');
